body {
    background-color: rgb(111, 228, 164);
}

.meuNome,
.descricao {
    font-family: Arial, Helvetica, sans-serif;
}

.descricao {
    text-align: center;
}

.meuNome {
    text-align: center;
}

#minha-foto {
    float: left;
    height: 230px;
    padding: 10px;
    background-color: red;
}

.image-container {
    height: 250px;
    position: relative;
}

em {
    color: rgb(67, 138, 83);
}

.javascript {
    font-size: 20px;
}

.sql {
    font-size: 18px;
}

.react {
    font-size: 16px;
}

.bootstrap {
    font-size: 14px;
}

.metoAgil {
    font-size: 12px;
}

ul li:nth-child(odd) {
    background-color: green;
}